// palette variables:
$primary-sky-night: #013ac7;
$secondary-sunshine: #f2cc0c;

$primary-cetacean: #00113c;
$primary-catalina: #012377;
$primary-han: #4d75d8;
$primary-jordy: #99b0e9;
$primary-soap: #cfdaf3;
$primary-alice: #f0f3fa;

$secondary-coin: #493d04;
$secondary-gold: #a98f08;
$secondary-dandelion: #f7e06d;
$secondary-blond: #fbf0b6;
$secondary-seashell: #f9f7ed;

$grays-black: #171717;
$grays-charcoal: #444444;
$grays-metal: #787878;
$grays-bob: #b3b3b3;
$grays-card-board: #e6e6e6;
$grays-cloud: #f8f8f8;
$grays-white: #fff;

$status-fail-fail: #f1260c;
$status-fail-fail-dark: #791306;
$status-fail-fail-light: #f9dcd9;

$status-success-success: #57c700;
$status-success-success-dark: #2b6400;
$status-success-success-light: #e0f4cf;

$status-warning-warning: #ff8a00;
$status-warning-warning-dark: #995300;
$status-warning-warning-light: #f9e9d6;

$pop-up-back-shadow: rgba(0, 0, 0, 0.62);
//Font variables
$fontSize18: 18px;
$fontSize12: 12px;
$fontSize13: 13px;
$fontSize14: 14px;
$fontSize15: 15px;
$fontSize16: 16px;
$fontSize20: 20px;
$fontSize24: 24px;
$fontSize25: 25px;

//Breakpoints
$BreakPoint1: 650px;
$BreakPoint2: 520px;
$BreakPoint3: 430px;

$BreakPoint4: 700px;
$BreakPoint5: 800px;

////////old codes

$PrimaryColor: #0078d4;
$SecondaryColor: #0d2960;
$S1Color: #183977;
$S2Color: #204383;
$S3Color: #7186b4;
$S4Color: #c1cadf;

$Black3: #323130;
$White: #ffffff;
$Red: #a4262c;

$Gray1: #8a8886;
$Gray2: #a19f9d;
$Gray3: #dddddd;
$Gray4: #edebe9;
$Gray5: #f2f2f2;
$Gray6: #fcfcfc;

//Color variables
$RadarGradiantBackground: linear-gradient(
    180deg,
    #e7f4ff -83.78%,
    #f6f6f6 100%
);
$RadarWhiteBackground: #fff;
$RadarSmoothGrayBackground: #f3f6f8;
$WhiteColor: #fff;
$AlertRed: #ef3f4b;
$DividerGrey: #9dabb6;

//landing page :
$landingMainBackground: linear-gradient(
    180deg,
    #150080 0%,
    #422fa7 37.58%,
    #6a5bb6 79.82%
);
$landingLogoGradiant: linear-gradient(
    322deg,
    #150080 -16.69%,
    #422fa7 38.25%,
    #6a5bb6 100%
);
$landingMainPen: #f8f8f8;
$landingThirdPen: #106;

// -----------------------------------

// Common variables that are not in the color palette
$RadarMainColor: #01c73a;
$RadarBlackColor: #283946;
$SecondPen: #a4b1bb;
$gray9: #506474;
$RedShadow: #fdeced;
$RadarRed: #ef3e4a;
$bgbottomsheet: #eff5fa;
$gray7: #dde4ea;
$RadarSecondaryColor: #0ca364;
$Black: #201f1e;
$landingSecondPen: #0e024b;
$mlkOffice: #e54b4b;
